<html>
<head>
  <title>Hello from NGINX</title>
</head>
<body>
  <h1>Hello from NGINX Webserver</h1>
  <h3>http_port:     {{ nginx_http_port }}</h3>
  <h3>log_directory: {{ nginx_log_directory }}</h3>
  <h3>nginx_user:    {{ nginx_user }}</h3>
</body>
</html>
