<html>
<head>
  <title>Hello from Apache</title>
</head>
<body>
  <h1>Hello from Apache Webserver</h1>
  <h3>http_port:     {{ http_port }}</h3>
  <h3>log_directory: {{ log_directory }}</h3>
  <h3>apache_user:   {{ apache_user }}</h3>
  <h3>apache_group:  {{ apache_group }}</h3>
</body>
</html>
